.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.app-container {
  display: flex;
  background-color: #f8f9fa;
}

.sidebar {
  background-color: #ffffff;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-link {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  color:white;
  background-color: #111;
  padding-top: 80px;
  transition: all 0.3s ease;  /* Adjust padding to prevent overlap with header */
  z-index: 1;
}

.sidebar.closed {
  width: 60px; /* Adjust the width when closed */
  overflow: hidden; /* Hide the content when closed */
}